@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: 'Roboto Mono', monospace;
	/* color: white; */
}

html,
body {
	height: 100%;
}

html {
	overflow: scroll;
	overflow-x: hidden;
	scrollbar-width: none;
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	width: 0;
}

::-webkit-scrollbar-thumb {
	background: red;
}

body {
	/* background: radial-gradient(
		at top left,
		rgb(57, 105, 211) 0%,
		rgb(90, 40, 228) 100%
	); */
	/* background-color: rgb(57, 105, 211); */
	background-color: rgb(34, 34, 34);
	background-repeat: no-repeat;
	max-width: 1200px;
	margin: 0 auto;
}

p {
	margin: 16px auto;
	line-height: 1.5em;
}
