/* .main {
	display: flex;
	justify-content: center;
	align-items: center;
	/* height: 100%;
	width: 100%; */
/* } */

.greeting {
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
