header {
	width: 100%;
	height: 6.5rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 0 5%;
	align-items: start;
	border-bottom: solid white;
}

.logo {
	overflow-y: visible;
}

nav {
	margin-top: 60px;
	justify-self: end;
}

nav ul {
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;
	justify-self: end;
}

nav li {
	margin-left: 1.5rem;
	font-size: 1.25rem;
}

nav a {
	text-decoration: none;
}

nav a:hover,
nav a:active,
nav .active {
	border-bottom: solid 2px white;
	color: #e6fcfc;
}

nav a {
	color: #e6fcfc;
}

/* nav a:hover {
	border-bottom-color: white;
}  */
